.DS_Store
.vscode/
flacoai.code-workspace
*.pyc
.flacoai*
flacoai_chat.egg-info/
build
dist/
Gemfile.lock
_site
.jekyll-cache/
.jekyll-metadata
flacoai/__version__.py
flacoai/_version.py
.venv/
.#*
.gitattributes
tmp.benchmarks/
.docker_bash_history