# This needs to sync with flacoai/help_pats.py

global-exclude .DS_Store

include flacoai/resources/examples_free.md

recursive-exclude flacoai/website/examples *
recursive-exclude flacoai/website/_posts *

exclude flacoai/website/HISTORY.md
exclude flacoai/website/docs/benchmarks*.md
exclude flacoai/website/docs/ctags.md
exclude flacoai/website/docs/unified-diffs.md

exclude flacoai/website/install.ps1
exclude flacoai/website/install.sh

recursive-exclude flacoai/website/docs/leaderboards *
recursive-exclude flacoai/website/assets *
recursive-exclude flacoai/website *.js
recursive-exclude flacoai/website *.html
recursive-exclude flacoai/website *.yml
